img {
    width: 250px;
    height: auto;
}

/* transform : 변형과 관련된 속성 */
.trans-x-2d:hover {
    transform: translateX(100px);
}

.trans-y-2d:hover {
    transform: translateY(100px);
}

.trans-d-2d:hover {
    transform: translate(100px, 100px);
}

.trans-x-scale:hover {
    transform: scaleX(1.2);
}

.trans-y-scale:hover {
    transform: scaleY(1.2);
}

.trans-d-scale:hover {
    transform: scale(1.2, 1.2);
}

.trans-rotate:hover {
    transform: rotate(180deg);
}

.trans-3d:hover {
    /* perspective(z축의 길이) */
    transform: perspective(300px) translate3d(50px, 50px, 100px);
}

.trans-rotateX-3d:hover {
    transform: perspective(300px) rotateX(45deg);
}

.trans-rotateY-3d:hover {
    transform: perspective(300px) rotateY(45deg);
}

.trans-rotateZ-3d:hover {
    transform: perspective(300px) rotateZ(45deg);
}

.trans-rotate-3d:hover {
    transform: perspective(300px) rotate3d(1, 1, 1, 45deg);
}

/* transition */
.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: violet;

    /* 스타일이 변경되는 시간 지정 */
    transition-duration: 1s;
}

.test1:hover {
    background-color: yellow;
}

.test2:hover {
    transform: rotate(360deg);
    background-color: skyblue;

    border-radius: 50%;
}

.test3 {
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0, 0.69, 0, 2.91);
}
.test3:hover {
    background-color: springgreen;
}

.test4 {
    transition-delay: 1s;
    transition-property: background-color, transform;
}
.test4:hover {
    background-color: yellow;
    font-size: 50px;
    transform: translateX(100px);
}