/* 5순위 : 태그 선택자 */
div {
    width: 200px;
    height: 200px;
    background-color: red !important; /* 1순위 : !important */
}

/* 4순위 : class 선택자 */
.class1 {
    background-color: green;
}

/* 3순위 : id 선택자 */
#test1 {
    height: 100px;
    background-color: black;
    color: white;
}