/* 1번 문제 */
#container1.highlight {
    background-color: yellow;
}

/* 2번 문제 */
div#container2>p {
    color: red;
}

#container2 p:not(#container2>p) {
    color: pink;
}

/* 3번 문제 */
#container3>input:not(input[type=submit]) {
    border: 1px solid blue;
}

/* 4번 문제 */
#container4>h1, #container4>.title {
    color: green;
    font-size: 20px;
}

/* 5번 문제 */
div[class^=user] {
    background-color: lightgray;
}

div[class$=info] {
    color: red;
}

div[class~=product] {
    background-color: coral;
}

div[class|=admin] {
    background-color: greenyellow;
}

/* 6번 문제 */
#container6>input:focus {
    background-color: yellow;
}

#container6>input:hover {
    background-color: green;
}

/* 7번 문제 */
#container7>li:nth-of-type(2) {
    font-weight: bold;
}

/* 8번 문제 */
.container8>p {
    color: blue;
}

/* 9번 문제 */
#container9>p[title*="important"]:not(p[title*="not-important"]) {
    background-color: red;
}

/* 10번 문제 */
ul#menu>li.active {
    color: red;
}