
div{
    /* border: 1px solid black; */
    box-sizing: border-box;
} 


.container {
    /* border: 1px solid black; */
    width: 1140px;
    /* height: 10000px; */
    margin: auto;
}

.header {
    height: 200px;
    display: flex;
}
.header>:nth-child(1) {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header>:nth-child(2) {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header>:nth-child(3) {
    flex-basis: 15%;
}
.header>:nth-child(1)>img {
    width: 120px;
}
#query {
    width: 500px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #455ba8;
    border-radius: 5px;
}

.nav {
    height: 50px;
    border-bottom: 2px solid black;
    background-color: white;
    
    /* 
        sticky : 
            - 스크롤이 임계점에 도달했을 때 화면에 요소를 붙임.
            - 평소 기본 position 상태에서 임계점 도달 시 fixed로 변경됨
    */
    position: sticky;
    top: 0;
}
.nav>ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.nav li {
    flex: 0 1 150px;
}
.nav a {
    display: block;
    height: 100%;
    text-align: center;
    /* padding : 11px 0; */
    line-height: 50px;

    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.nav a:hover {
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.1s;
}

/* 
.menu {
    border: 1px solid black;
    display: flex;
}

.menu>* {
    font-weight: bold;
    margin-inline: 30px;
    margin: 5px 30px;
} */

.content {
    height: 800px;
    display: flex;
}
.content>div:nth-child(1) {
    flex-basis: 70%;
}
.content>div:nth-child(2) {
    flex-basis: 30%;
}
.login-form {
    height: 140px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.id-pw-area {
    margin: 0px;
    padding: 0px;
    border: 1px solid gray;

    display: flex;
    flex-basis: 60%;
}
.id-pw-area>div:first-child {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}
.id-pw-area>div:last-child {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}
.id-pw-area>div:first-child>input {
    border: 0;
    border-right: 1px solid #ddd;
    flex-basis: 50%;
    outline: 0;
    margin: 0;
    padding: 5px;
}
.id-pw-area>div:last-child>button {
    flex-basis: 100%;
    border: 0;
    background-color: white;
    cursor: pointer;
}
.id-pw-area>div:last-child>button:hover {
    background-color: #455ba8;
    color: white;
}
.signup-find-area {
    flex-basis: 20%;
    margin-top: 10px;
    padding-left: 5px;
}
.signup-find-area>a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.signup-find-area>span {
    padding: 0 10px;
}


/* 
.body {
    border: 1px solid black;
    height: 600px;
    display: flex;
}

.body>:nth-child(1) {
    border: 1px solid black;
    flex-basis: 70%;
}

.body>:nth-child(2) {
    border: 1px solid black;
    flex-basis: 30%;
}

.login {
    margin: 5%;
    margin-bottom: 10px;
    width: 90%;
    height: 10%;

    display: flex;
    flex-flow: column wrap;
}

.login input:nth-of-type(1) {
    flex-basis: 50%;
}

.login input:nth-of-type(2) {
    flex-basis: 50%;
}

.login input:nth-of-type(3) {
    flex-basis: 100%;
}

.join {
    margin-inline: 5%;
    font-size: 12px;
} */


#footer {
    height: 200px;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer>p {
    font-weight: bold;
}
#footer>div>a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}
#footer>div>span {
    padding: 0 10px;
}